{{ partial "head.html" . }}
        {{ partial "menu.html" . }}
        {{ partial "logo-and-banner.html" . }}
        <div class="message-box-container">
            
            <div class="message-box" id="message-box-1">
                <p>Hi, we're Simplicity Social Media.</p>
                <div class="message-box-tail-div shadow-tail-div">
                    {{ partial "message-box-tail.svg" . }}
                </div>
                <div class="message-box-tail-div main-tail-div">
                    {{ partial "message-box-tail.svg" . }}
                </div>
                <div class="white-box"></div>
            </div>
            
            <div class="message-box" id="message-box-2">
                <p>We help small businesses start and maintain meaningful conversations through social media.</p>
                <div class="message-box-tail-div shadow-tail-div">
                    {{ partial "message-box-tail.svg" . }}
                </div>
                <div class="message-box-tail-div main-tail-div">
                    {{ partial "message-box-tail.svg" . }}
                </div>
                <div class="white-box"></div>
            </div>
            
            <div class="message-box" id="message-box-3">
                <p>From the perfect bio to the right hashtags, we make sure every second yuo spend on social media helps grow your business.</p>
                <div class="message-box-tail-div shadow-tail-div">
                    {{ partial "message-box-tail.svg" . }}
                </div>
                <div class="message-box-tail-div main-tail-div">
                    {{ partial "message-box-tail.svg" . }}
                </div>
                <div class="white-box"></div>
            </div>
            
        </div>
        <div class="services section svg-waves-section">
            <div class="dark-blue-background svg-waves-background svg-light-blue">
                {{ partial "waves-top.svg" . }}
            </div>
            <h2>What's your social<br>media challenge?</h2>
            
            
            <div class="row light-blue-background">
                <div class="col-33-med">
                    <a href="#">
                        <div class="yellow-circle">
                            <h4>Getting Started</h4>
                        </div>
                    </a>
                </div>
                <div class="col-33-med">
                    <a href="#">
                        <div class="yellow-circle">
                            <h4>Knowing if we're doing the right thing</h4>
                        </div>
                    </a>
                </div>
                <div class="col-33-med">
                    <a href="#">
                        <div class="yellow-circle">
                            <h4>We've had some success, but can't always find the time</h4>
                        </div>
                    </a>
                </div>
            </div>
            <a href="/services"><h3 class="light-blue-background">Explore all services</h3></a>
        </div>
        <div class="about section svg-waves-section">
            <div class="light-blue-background svg-waves-background svg-pink">
                {{ partial "waves-bottom.svg" . }}
            </div>
            <h2>About Simplicity<br>Social Media</h2>
            
            <div class="row pink-background">
                <div>
                    <p>We're a social media agency with a difference! We want to help small businesses to use these platforms effectively, but we get it: you're running a company and don't have the time to reply to tweets or think of the perfect hashtags. That's where we come in! With 3+ years of social media experience, we'll take these tasks off your hands, giving you more time to focus on clients, networking and more!</p>
                    <p>You can build your own package depending on your budget. Whether you want us to post a few times a week, create some new content, or boost your engagement, no job is too big or small for Simplicity!</p>
                </div>
            </div>
        </div>
        
        <div class="blog-portfolio section svg-waves-section">
            <div class="pink-background svg-waves-background svg-yellow">
                {{ partial "waves-top.svg" . }}
            </div>
            <h2></h2>
            <div class="row yellow-background">
                <div class="col-50-med">
                    <div class="blue-circle">
                        <h4>Blog</h4>
                        {{- $.Scratch.Set "counter" 0 -}}
                        {{ range where (.Pages.ByDate.Reverse) "Params.type" "blogArticle" }}
                        {{ if eq ($.Scratch.Get "counter") 0 }}
                        <p>{{ .Params.blogTitle }}</p>
                        {{ end }}
                        {{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
                        {{ end }}
                    </div>
                </div>
                <div class="col-50-med">
                    <div class="blue-circle">
                        <h4>Portfolio</h4>
                        <p>"Personal, impactful, and affordable &mdash; a brilliant service"</p>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="yellow-background">
{{ partial "get-in-touch.html" . }}            
        </div>


            
{{ partial "footer.html" . }}