{{ partial "head.html" . }}
        {{ partial "menu.html" . }}
        {{ partial "logo-and-banner.html" . }}
        <div class="dark-blue-background">
            
            <h2>Services</h2>
            <p>We provide social media services to a range of companies, always tailoring our packages to your needs and never outsourcing the work. You can find details on our three most popular services below, but this is just the beginning! Feel free to get in touch to let us know exactly what you need and we'll be happy to help.</p>
        </div>
        <div class="services section svg-waves-section">
            <div class="dark-blue-background svg-waves-background svg-light-blue">
                {{ partial "waves-top.svg" . }}
            </div>
            <h2 id="getting-started" class="white-text">Getting Started</h2>
            
            
            <div class="row light-blue-background">
                <div class="col-50-med">
                    <p>Includes</p>
                    <ul>
                        <li>Reserving social media handles</li>
                        <li>Writing bio</li>
                        <li>Identifying hashtag pool</li>
                        <li>Finding and following 50 people</li>
                        <li>First two weeks of posts</li>
                    </ul>
                </div>
                <div class="col-50-med">
                    <p>Setting up a new account can be daunting. From choosing your profile picture to writing your bio, there's more to a new profile than meets the eye!</p>
                    <p>Once you're live, you'll need to think about who to follow, what to post and how to boost your engagement rates.</p>
                    <p>Or you could let us do it all for you for as little as £20!</p>
                </div>

            </div>
        </div>
        <div class="about section svg-waves-section">
            <div class="light-blue-background svg-waves-background svg-pink">
                {{ partial "waves-bottom.svg" . }}
            </div>
            <h2 id="consultation-and-audit">Consultation &amp;<br>Social Media Audit</h2>
            
            <div class="row pink-background">
                <div class="col-50-med">
                    <p>If you're not ready to commit to social media services, but feel you need some guidance, please get in touch!</p>
                    <p>Our social media consultancy service will provide a detailed analysis of all of your platforms, giving you key areas to improve upon for as little as £20!</p>
                </div>
                <div class="col-50-med">
                    <p>Includes</p>
                    <ul>
                        <li>Content improvements</li>
                        <li>Hashtag research</li>
                        <li>Engagement advice</li>
                        <li>Suggestions on who to follow</li>
                        <li>Understanding analytics</li>
                    </ul>
                </div>

            </div>
        </div>
        
        <div class="blog-portfolio section svg-waves-section">
            <div class="pink-background svg-waves-background svg-yellow">
                {{ partial "waves-top.svg" . }}
            </div>
            <h2 id="outsourcing">Social Media &amp;<br>Content Outsourcing</h2>
            <div class="row yellow-background">
                <div class="col-50-med">
                    <p>Includes</p>
                    <ul>
                        <li>Creating captivating content</li>
                        <li>Writing eye-catching captions</li>
                        <li>Scheduling posts</li>
                        <li>Engaging with customers</li>
                        <li>Boosting your following</li>
                    </ul>
                </div>
                <div class="col-50-med">
                    <p>Haven't got time to manage your accounts? Simplicity will do it for you! We can find, create, schedule and post relevant and engaging content across all your platforms.</p>
                    <p>We'll also engage with other accounts on your behalf, liking and replying to comments, and following relevant profiles.</p>
                    <p>Content and engagement combined help your profile to be discovered by other users and potential customers. We provide these invaluable services for as little as £15 per week!</p>
                </div>

            </div>
        </div>
        
        <div class="yellow-background">
{{ partial "get-in-touch.html" . }}            
        </div>


            
{{ partial "footer.html" . }}