{{ partial "head.html" . }}
        {{ partial "menu.html" . }}
        {{ partial "logo-and-banner.html" . }}
        <div class="portfolio section svg-waves-section">
            <div class="dark-blue-background svg-waves-background svg-yellow">
                {{ partial "waves-bottom.svg" . }}
            </div>
            <h2 id="thank-you-h2" class="dark-blue-text yellow-background">Thank You!</h2>
            <p id="thank-you-p">Thanks for your message, we'll get back to you as soon as we can!</p>
        </div>

        <div class="blog-article section svg-waves-section">
            <div class="yellow-background svg-waves-background svg-light-blue">
                {{ partial "waves-top.svg" . }}
            </div>
            {{ partial "made-by-micro.html" . }}
        </div>
        
            

{{partial "footer.html" . }}